<div class="card text-center container col-sm-6 " style="margin-bottom: 100%;">
  <div class="card-header" style="background-color: black; color: greenyellow;">
    Todo List
  </div>
  <div class="card-body">
    <h5 class="card-title">Make Your Todo List</h5>
    <hr>

    
    <form  #ngformData="ngForm" (ngSubmit)="postData(ngformData.value)">
      <input type="text" [(ngModel)]="inputClear" placeholder="Enter Data" name="todoData" ngModel style="width:500px;"/>&nbsp;&nbsp;
      <button class="btn btn-primary" style="margin-left:20px;" >Add data</button>
    </form>
    


    
    <table class="table table-hover " style="margin-top: 10px;">
      <thead>
        <tr >
          <th scope="col">No</th>
          <th scope="col">ListName</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr style="color: greenyellow;" *ngFor="let data of todoList">
          <td>{{data.id}}</td>
          <td>{{data.todoData}}</td>
          <td><button class="btn btn-primary" (click)="updategetData(data.id)">Update</button></td>
          <td><button class="btn btn-danger" (click)="deleteData(data.id)">Remove</button></td>
     
      </tbody>
    </table>
  </div>



  
<form *ngIf="updateIdcheck" #ngformData1="ngForm" (ngSubmit)="updateData(ngformData1.value)">
  <input type="text" [(ngModel)]="tmpData.todoData"  name="todoData" ngModel style="width:700px;"/>&nbsp;&nbsp;&nbsp;
  <button class="btn btn-success" style="margin-left:20px;" >Update data</button>

  </form>

</div>
